= form_for [prototype, comment] do |f|
  %ul.comment-form
    %li= f.text_area :content, class: "input-comment", placeholder: "type a comment"
    %li= f.submit "SEND", class: "send-button"

%div.comment-index
  - comments.each do |comment|
    %ul.comment-list
      %li.comment-list__content= comment.content
      %li.comment-list__name= comment.user.name
      %li.comment-list__date= comment.created_at
