- if user_signed_in?
  - if likes.find_by(user_id: current_user.id)
    = button_to prototype_like_path(likes.ids, prototype_id: prototype.id), method: :delete, id: "like-button__delete", data: prototype_like_path(likes.ids, prototype_id: prototype.id) do
      = image_tag "icon_red_heart.png", id: "heart_image"
      LIKE
      %span#like_count= likes.where(prototype_id: prototype.id).count
  - else
    = button_to prototype_likes_path(prototype.id), id: "like-button__add", data: prototype_likes_path(prototype_id: prototype.id) do
      = image_tag  "icon_heart.png", id: "heart_image"
      LIKE
      %span#like_count= likes.where(prototype_id: prototype.id).count
- else
  %button#like-button-without-login
    = image_tag "icon_heart.png", id: "heart_image"
    LIKE
    %span#like_count= likes.where(prototype_id: prototype.id).count
